eAutoService/Psgk.CarInspect.CarDataUSvc/carSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="Cars">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Car" >
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Id" type="xs:int"/>
							<xs:element name="Brand" type="xs:string"/>
							<xs:element name="Model" type="xs:string"/>
							<xs:element name="RegistrationNumber" type="xs:string"/>
							<xs:element name="ownerId" type="xs:int"/>
							<xs:element name="mechanicId" type="xs:int"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
