eAutoService/Psgk.CarInspect.MechanicDataUSvc/mechanicSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="DataMechanics">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Mechanic" >
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string"/>
							<xs:element name="Surname" type="xs:string"/>
							<xs:element name="Id" type="xs:int"/>
							<xs:element name="WorkPlace" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
